/**Hier nur die .recipe-new Klasse benutzen!*/

.recipe-new main {
        margin-left: 5em;
}

.recipe-new label {
    list-style: none;
}
.recipe-new h2 {
  color: var(--olivegreen);
}

.recipe-new input, textarea {
    width: 20em;
    height: 2em;
    border: solid 1px #CCCCCC;
    border-radius: 3px;
    font-size: 1em;
    display: flex;
    font-family: "Lucida Fax", serif;
}

.recipe-new textarea {
    height: 10em;
    width: 45em;
    max-width: 90em;
    min-height: 10em;
    min-width: 25em;
}

.recipe-new #nebendiv {
    display: flex;
    flex-flow: row wrap;
}
.recipe-new button {
    background-color: var(--olivegreen);
    color: white;
    text-align: center;
    border: solid 1px #CCCCCC;
    margin-right: 1em;
    border-radius: 5px;
    border-color: white;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    box-shadow: 3px 4px 8px grey;
    padding-top: 0.5%;
    line-height: 0px;
}

.recipe-new #kreuz {
    background-color: white;
    color: var(--olivegreen);
    height: 3em;
    width: 3em;
    border: solid 1.2px #CCCCCC;
}

.recipe-new button:hover {
    cursor: pointer;
}

@media screen and (max-width: 400px) {
    .recipe-new textarea {
        height: 10em;
        width: 15em;
    }
}

@media screen an (min-width: 900px) {
}
