div.arrow {
	width: 6vmin;
	height: 6vmin;
    box-sizing: border-box;
	left: 50%;
    transform: rotate(-225deg);
    margin: auto;
	
	&::before {
		content: '';
		width: 100%;
		height: 100%;
		border-width: .8vmin .8vmin 0 0;
		border-style: solid;
		border-color: black;
		transition: .2s ease;
		display: block;
		transform-origin: 100% 0;
	}

	
	&:after {
		content: '';
		float: left;
		position: relative;
		top: -100%;
		width: 100%;
		height: 100%;
		border-width: 0 .8vmin 0 0;
		border-style: solid;
		border-color: black;
		transform-origin: 100% 0;
		transition:.2s ease;
	}
	
	&:hover::after {
		transform: rotate(45deg);
		border-color: var(--olivegreen);
		height: 120%;
	}
	&:hover::before {
		border-color: var(--olivegreen);
		transform: scale(.8);
		
	}
	
}