/**Hier nur die .recipe-edit Klasse benutzen!*/

.recipe-edit main {
        margin-left: 5em;
}

.recipe-edit label {
    list-style: none;
}
.recipe-edit h2 {
  color: var(--olivegreen);
}

.recipe-edit input, textarea {
    width: 20em;
    height: 2em;
    border: solid 1px #CCCCCC;
    border-radius: 3px;
    font-size: 1em;
    display: flex;
    font-family: "Lucida Fax", serif;
}

.recipe-edit textarea {
    height: 10em;
    width: 45em;
}

.recipe-edit #nebendiv {
    display: flex;
    flex-flow: row wrap;
}
.recipe-edit button {
    background-color: var(--olivegreen);
    color: white;
    text-align: center;
    border: solid 1px #CCCCCC;
    margin-right: 1em;
    font-family: "Lucida Fax", serif;
}

.recipe-edit #kreuz {
    background-color: white;
    color: var(--olivegreen);
    height: 3em;
    width: 3em;
}
