/**Hier nur die .recipe-overview Klasse benutzen!*/

.recipe-overview main {
    color:blue;
    display:block;
    margin:auto;
}
.recipe-overview .kasten {
    display:flex;
    margin:auto;
}
.recipe-overview .button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin:auto;
}
.recipe-overview .titel{
    color: green;
    font-size: 3em;
}
