/**Hier nur die .recipe-search Klasse benutzen!**/
.recipe-search main {
  padding-top: 2em;
  padding-bottom: 2em;
}

.recipe-search .description {
  margin-top: 2em;
  margin-left: 20%;
  display: block;
  color: black;
}

.recipe-search input {
  margin-left: 20%;
  margin-bottom: 3em;
  display: block;
  width: 60%;
  -webkit-appearance: textfield;
  border-radius: 10px;
  border: solid 1px #cccccc;
  padding: 10px;
}

.recipe-search input:focus {
  outline: none;
}

.recipe-search .button {
  border-radius: 5px;
  background-color: var(--olivegreen);
  display: block;
  margin: auto;
  width: 30%;
  color: white;
  border-color: white;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  box-shadow: 3px 4px 8px grey;
  cursor: pointer;
}

.recipe-search .button:focus {
  outline: none;
}

.recipe-search #itemView {
  margin-left: 2.5em;
  margin-right: 2.5em;
}

.recipe-search .item {
  background-repeat: no-repeat;
  background-size: 50px 50px;
  width: 50px;
  height: 50px;
  margin: 1em;
  padding: 0;
  display: inline-block;
  cursor: pointer;
}

.recipe-search #tomato {
  background-image: url(/img/tomato.png);
}

.recipe-search #mushrooms {
  background-image: url(/img/mushrooms.png);
}

.recipe-search #pepper {
  background-image: url(/img/pepper.png);
}

.recipe-search #onion {
  background-image: url(/img/onion.png);
}

.recipe-search #garlic {
  background-image: url(/img/garlic.png);
}

.recipe-search #carrot {
  background-image: url(/img/carrot.png);
}

.recipe-search #corn {
  background-image: url(/img/corn.png);
}

.recipe-search #salad {
  background-image: url(/img/salad.png);
}

.recipe-search #brokkoli {
  background-image: url(/img/brokkoli.png);
}

.recipe-search #potato {
  background-image: url(/img/potato.png);
}

.recipe-search #aubergine {
  background-image: url(/img/aubergine.png);
}

.recipe-search #leek {
  background-image: url(/img/leek.png);
}

.recipe-search .grey {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  opacity: 0.5;
}

@media screen and (min-width: 900px) {
  .recipe-search .item {
    background-repeat: no-repeat;
    background-size: 96px 96px;
    width: 96px;
    height: 96px;
    margin: 1em;
    padding: 0;
    display: inline-block;
  }
}
