/**Hier nur die .recipe-search Klasse benutzen!**/
.recipe-search main {
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 3em;
}

.recipe-search input {
  margin: auto;
  display: block;
  width: 60%;
  -webkit-appearance: textfield;
  border-radius: 10px;
  border: solid 1px #CCCCCC;
  padding: 10px;
}

.recipe-search .button {
  border-radius: 5px;
  background-color: var(--olivegreen);
  display:block;
  margin: auto;
  width: 20%;
  color: white;
  border-color: white;
  text-decoration: none;
  text-align: center;
  padding: 10px;
}
