.recipe-display .oberteil{
    padding-top: 2em;
    display: flex;
}

.recipe-display .titel{
    width: 60%;
    padding-top: 2.5em;
    padding-left: 0.5em;
    padding-bottom: 0.8em;
    font-size: 1.5em;
    color: var(--olivegreen);
}
.recipe-display .trashbutton{
    cursor: pointer;
    height: 25px;
    width:25px;
    margin-top: 1.5em;
    background-image: url(/img/abfall.png);
    background-repeat: no-repeat; 
    background-size: 25px 25px;
    margin-right: 2em;
    text-align: right;
    right: 0;
    padding-right: 0.2em;
}

.recipe-display .changebutton{
    cursor:pointer;
    height: 25px;
    width:25px;
    margin-top: 1.5em;
    background-image: url(/img/bearbeiten.png);
    background-repeat: no-repeat;
    background-size: 25px 25px;
    margin-right:1em;
    text-align: right;
    right: 0;
    padding-right: 0.2em;
}
.recipe-display .img{
    width: 150px;
    height: 150px;
}
.recipe-display .imgfeld{
    /*width:40%;*/
    height:100%;
}
.recipe-display .zutaten{
    padding-top: 1em;
    font-size: 1em;
}
.recipe-display .link{
    margin-left: 50%;
    margin-right: 50%;
}
.recipe-display .beschreibung{
    padding-top: 1em;
    font-size: 1em;

}
.recipe-display .button {
    cursor: pointer;
    margin-right: auto;
    margin-left: 15%;
    margin-top: 1.5em;
    margin-bottom: 1em;
    text-align: left;
    padding-left: 0.2em;
  border-radius: 5px;
  background-color: var(--olivegreen);
  display: block;
  width: 70%;
  height:25px;
  color: white;
  border-color: white;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  box-shadow: 3px 4px 8px grey;
  padding-top: 0.5%;
}

@media screen and (min-width: 900px) {
  .recipe-display .img {
    width: 250px;
    height: 250px;
  }
  .recipe-display .button{
      height:50px;
  }
  .recipe-display .titel{
      font-size: 2em;
  }
  .recipe-display .trashbutton{
      height: 40px;
      width:40px;
      background-size: 40px 40px;
  }
  .recipe-display .changebutton{
      height: 40px;
      width:40px;
      background-size: 40px 40px;
  }
  .recipe-display .zutaten{
      font-size: 1.25em;
  }
  .recipe-display .beschreibung{
      font-size: 1.25em;
  }
}
@media screen and (max-width: 400px) {
.recipe-display .trashbutton{
    background-size: 16px 16px;
    width: 16px;
    height:16px;
}
.recipe-display .changebutton{
    background-size: 16px 16px;
    width: 16px;
    height:16px;
}
.recipe-display .img {
  width: 75px;
  height: 75px;
}
.recipe-display .titel{
    width: 50%;
    font-size: 1em;
}
.recipe-display .zutaten{
    font-size: 0.75em;
}
.recipe-display .beschreibung{
    font-size: 0.75em;
}
}
@media print {
    .recipe-display .trashbutton{
    display: none;
    }
    .recipe-display .changebutton{
    display: none;
    }
    .recipe-display .button {
    display: none;
    }
}
