html {
    background-image: url(/img/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    color: var(--font-color);
}
